@import './index.scss';

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  // max-width: 1110px;
  margin: auto;

  @include mq(900px) {
    height: auto;
    margin-block: 88px;
  }
}
