*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: hsl(233, 47%, 7%); // main background
  --dark-desaturated-blue: hsl(244, 38%, 16%); // card background
  --soft-violet: hsl(277, 64%, 61%);
  --soft-violet2: hsla(277, 64%, 61%, 25%);

  --white: hsl(0, 0%, 100%); // main heading, stats
  --wlightly-transparent-white: hsla(0, 0%, 100%, 0.75); // main paragraph
  --wlightly-transparent-whiter: hsla(0, 0%, 100%, 0.6); //  stat headings
}

@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  font-size: 15px;
  padding-inline: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
